body{
    background-image: url(bakgrunnsbilde.png);
    font-family: 'Roboto Mono', monospace;
}

h1{
    height: 15%;
    text-align: center;
}

h2{
    text-align: center;
}
#velgFilm{
    height: 10%;
    text-align: center
}
#bestillKnappdiv{
    height: 10%;
    text-align: center
}
#velgSnacks{
    height: 10%;
    text-align: center
}
#bestilling {
    height: 10%;
    text-align: center;
}
.knapp {
color: #494949;
text-transform: uppercase;
text-decoration: none;
background: #ffffff;
padding: 20px;
border: 4px solid #494949;
display: inline-block;
transition: all 0.4s ease 0s;
}
.knapp:hover {
color:black;
background:#E7E7E7;
border-color: black;
transition: all 0.4s ease 0s;
}

